{% block incidentconnexionHM  %}
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <button class="btn btn-primary" data-toggle="collapse" data-target="#collapsea" role="button" aria-expanded="false" aria-controls="collapsea">Solution</button>
      <div class="collapse" id="collapsea"  data-toggle="collapse">
            <div class="accordion" id="exempleAccordeon">
        <div class="card">
          <div class="card-header" id="header1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Soluce n°1</button>
          </div>
          <div id="collapse1" class="collapse show" aria-labelledby="header1" data-parent="#exempleAccordeon">
            <div class="card-body">
              <p>L'utilisateur avait t'il deja acces avant?</p>
                  <HR size=2 align=center width="100%">
              <p>Verifier en <a target="_blank" href="{% url 'ancres' %}#pmad" >
                <button type="button" class="btn btn-outline-success btn-sm mb-2" data-toggle="tooltip" data-placement="top" title="prise en main a distance">PMAD</button>
                 </a>
                avec l'utilisateur si il rentre bien les bon identifiant</p>
              <p>comparer en parallele avec sa fiche utilisateur presente sur <button type="button" class="btn btn-outline-success btn-sm mb-2" data-toggle="tooltip" data-placement="top" title="Infos gestion utilisateurs">syscompte</button></p>
              <HR size=2 align=center width="100%">
              <span class="text-warning" >Si cela a fonctionner clic sur oui sinon soluce n°2.</span>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                OUI
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Voici un exemple de tache a coller dans le ticket</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="myText" >
                      <a target="_blank" href="{% url 'ancres' %}#pmad"> PMAD </a> sur le poste .... verification des identifiants avec l'utilisateur,
                      celui si rentre identifiants et mots de passe a l'identique de syscompte.
                      tout semble correctement paramètré
                      </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

                <div class="card">
                  <div class="card-header" id="header2">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Soluce n°2</button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#exempleAccordeon">
                      <div class="card-body">
                        <p>Du texte à cacher / afficher grâce au composant collapse.</p>
                        <span class="small">Deuxième ligne de texte.</span>
                    </div>
                  </div>
        </div>

        <div class="card">
          <div class="card-header" id="header3">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Soluce n°3</button>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#exempleAccordeon">
            <div class="card-body">
              <p>Du texte à cacher / afficher grâce au composant collapse.</p>
              <span class="small">Deuxième ligne de texte.</span>
            </div>
          </div>
        </div>
      </div>

      </div>
      </div>
{% endblock %}