<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id=login">
    <h3 class="text-center text-white pt-5">Application E-Resolve</h3>
    <div class="container">
        <div class="row justify-content-center align-items-center, login-row">
            <div class="col-md-6" id="login-column">
                <div class="col-md-12" id="login-box">
                    <form action="" class="form" id="login-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-info"
                                   for="{{ form.username.id_for_label }}">{{form.username.label.tag}}</label><br>
                            <input id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" type="text">
                        </div>
                        <div class="form-group">
                            <label class="text-info"
                                   for="{{ form.pasword.id_for_label }}">{{form.pasword.label.tag}}</label><br>
                            <input id="{{form.pasword.id_for_label}}" name="{{form.pasword.html_name}}" type="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>