{% extends "resolve/base.html" %}
{% block content %}
<div>
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="user_name">
         <label for="name">Prenom :</label>
        <input type="text" id="prenom" name="user_prenom">
         <label for="telephone">Nom :</label>
        <input type="text" id="telephone" name="telephone">
    </div>
    <div>
        <span>
            <a href="{% url 'incident'%}">

                Incident</a>
        </span>
    </div>
</div>
<div class="widget-box sample-widget">
    <div class="widget-header">
        <h2>Incident</h2>
        <i class="fa fa-cog"></i>
    </div>
    <div class="widget-content">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
    </div>
</div>
<div class="widget-box sample-widget">
    <div class="widget-header">
        <h2>Demande</h2>
        <i class="fa fa-cog"></i>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
    </div>
</div>
</div>
</section>

{% endblock %}
