{% extends "resolve/base.html" %}
{% load static %}
{% block content %}
{% block user %}{% csrf_token %}
{% endblock  %}
    <div class="row p-9">
    <div class="col-sm-12 mt-6">
        <div class="card">
            <div class="card-header">
                recherche utilisateur
            </div>
            <form action="" method="post"></form>
            <div class="card-body">

                nom : {{ form.nom }} penom : {{ form.prenom }} poste : {{ form.poste }}
                {{ form.as_p }}
                {{ form.media }}
                <div class="text-right">
                    <button class="btn btn-info" type="submit"><i aria-hidden="true" class="fa fa-search"></i>Recherche</button>
                </div>
            </div>
        </div>
    </div>
</div>


    <div style="justify-content: space-evenly">
        <button class="btn btn-outline-primary btn-lg mb-2" onclick="maFonction()">INCIDENT</button>
        <div id="maDIV" style="display:none;">
            {% include "resolve/incident/Incidents.html" %}
        </div>
        <button class="btn btn-outline-primary btn-lg mb-2" onclick="maFonction2()">DEMANDE</button>
        <div id="maDIV2" style="display:none;">
            {% include "resolve/demande/Demandes.html" %}
        </div>
    </div>
</div>


<script>
function maFonction() {
  var div = document.getElementById("maDIV");
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
}
function maFonction2() {
  var div = document.getElementById("maDIV2");
  if (div.style.display === "none") {
    div.style.display = "block" ;
  } else {
    div.style.display = "none";
  }
}


</script>

{% endblock %}
