{% block incident  %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Incident de connexion HM</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>HM Bloc</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
               ,,,,,,,,,
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>agile time</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Connexion messagerie</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Chimio</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Connexion crossway</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Crossway fonctionnel</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Crossway impression</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Crossway technique</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Cursus</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Dict</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Windows</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class=>Poste de travail</h5>
                <p class="card-text">Probleme de connexion <strong class="text-danger">Pas sur HM bloc</strong></p>
                {% include 'resolve/incident/list_incident/connexionHM.html' %}
                {{ context.text1 }}
            </div>
        </div>
    </div>


























































</div>


{% endblock %}